body {
  margin: 0;
  padding: 2em;
  font-family: "CMU Serif", serif;
  /*color: #f0f0f0; */
  color: #CAE9F5;
  background-color: #1a1a1a;

  background-image: url("images/aquarium_cropped.jpg"); /* or use a URL */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.container {
  width: 100%;
  max-width: 1800px;
  margin: 3em auto;
  padding: 2em;
  background-color: rgba(39, 57, 78, 0.9); /* bluish + transparent */
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}


h1 {
  text-align: center;
  font-size: 2.5em;
  /*margin-bottom: 0.5em;*/
  margin: 0.0em;
  color: #cce6ff;
  color: #CAE9F5;
  color: #b3dcff; /* light blue */
}

p {
  font-size: 1.5em;
}

pre {
  font-size: 1.5em;
  font-family: "CMU Serif", serif;
}

.problem {
  margin: 1.5em 0;
  padding-left: 1em;
  border-left: 3px solid #78a8d1;
}

.profile {
  display: flex;
  align-items: center;
  gap: 2em;
}

.profile-pic {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.profile-text {
  flex: 1;
  font-size: 1.5em;
  align-self: end;
}

strong {
  color: #b3dcff;
  font-size: 1.3em;
}

kinda_strong {
  color: #b3dcff;
  font-weight: bold;
}

.menu {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
  padding: 1em 0;
  margin: 0 auto 2em; /* <-- this centers it horizontally */
  background-color: rgba(39, 57, 78, 0.8);
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.menu-item {
  font-family: "CMU Serif", serif;
  font-size: 1.1em;
  text-decoration: none;
  font-weight: bold;
  color: #b3dcff; /* light blue */
  transition: color 0.3s ease, border-bottom 0.3s ease;
  padding-bottom: 0.2em;
  border-bottom: 2px solid transparent;
}


.update {
  font-size: 0.5em
}

.topic {
  margin-bottom: 0.1em;
}

.problem ul {
  margin-top: 0.1em;
  font-size: 1.8em;
  margin-left: 0.3em;
  font-size: 1.5em;
}

.small {
 font-size: 1.8em;
}

.problem ol {
  margin-top: 0.1em;
  font-size: 1.5em;
  margin-left: 0.3em;
}

.email{
  margin-top: 0.0em;
}

.no-bullets {
  list-style-type: none;
}

.date {
  margin-right: 0.5em;
  padding-right: 0.5em;
  display: inline-block;
}

.normal {
    margin-top: 0em;
    margin-left: 1em;
}


details summary {
  font-size: 1.3em;
}


/* Default links: no underline */
a {
  text-decoration: none;
  color: #b3dcff; /* light blue */
}

/* Default links: underline on hover */
a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  color: #b3dcff;
}

/* Links inside .profile: always underlined with offset */
.profile a {
  text-decoration: underline !important;
  text-underline-offset: 4px;
  color: #b3dcff;
}


align_right {
  text-align: right; !important
}


.close{
  margin-top: 0.5em;
}
